{% extends 'SGBundle::layout.html.twig' %}

{% block sidebar %}
{% endblock %}


{% block content %}
<div class="row-fluid">
    <div class="span12">
        <div class="page">
            <h1>Bericht verstuurd</h1>
            <p>Uw bericht is verstuurd! </p>
        </div>
    </div>
</div>

{% endblock %}