{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
<div class="row-fluid">

    <div class="span12">
        
        <a class="btn btn-success pull-right" href="javascript:void(0)" onclick="document.clientform.submit()"><i class="icon-white icon-ok"></i> Opslaan</a>
        <a class="btn btn-danger pull-right" style="margin-right: 10px"><i class="icon-white icon-trash"></i> Verwijderen</a>


        <h1>{{ client.name }}</h1>
        
        <p>Klant is aangemaakt op: {{ client.createdAt|date("d-m-Y H:i") }}
            {% if client.updatedAt is not null %}
                en gewijzigd op {{ client.updatedAt|date("d-m-Y H:i") }}
            {% endif %}
        </p>

        <hr />
        
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#lA">Algemeen</a></li>
            <li><a data-toggle="tab" href="#lB">Bestellingen</a></li>
        </ul>
    </div>

</div>
<div class="row-fluid">
    
    <div class="span12">
        <div class="tab-content">
            <div id="lA" class="tab-pane active">
                {% include 'AdminBundle:Clients:general.html.twig' %}
            </div>
            <div id="lB" class="tab-pane">
                {% include 'AdminBundle:Clients:orders.html.twig' %}
            </div>
        </div>
    </div>
    
</div>
{% endblock %}


{% block javascripts %}

{{ parent() }}

<script type="text/javascript">

    $(document).ready(function() {
        $('.popover_link').popover();
    })
    
</script>
{% endblock %}
