<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <div class="wonen-banner">
                <a class="btn btn-primary pull-right btn-large">Bekijk de Woonaccesoires <i class="icon-arrow-right"></i></a>
                <h3><b>Nieuw:</b> Vintage Woonaccesoires!</h3>
                <p>Bekijk onze collectie: vazen, borden, schalen, bestek en nog veel meer!</p>
                <img src="{{ asset('bundles/ecommerce/img/banner-wonen.png') }}" />
            </div>
        </div>
    </div>
</div>