{% extends 'AVBundle:Default:index.html.twig' %}

{% block content %}

<div class="row-fluid">
    <div class="span12">
        <h1>Zoeken</h1>
        <p>{{ products|length}} resultaten gevonden</p>

        <ul class="category_product unstyled">
            {% for product in products %}
                <li class="span3">
                    {% include 'AVBundle:Search:product.html.twig' with {'product': product} %}
                </li>
            {% endfor %}
        </ul>

        <div class="clearfix"></div>

    </div>
</div>


{% endblock %}