{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}

<div class="row-fluid">

    <div class="span12">
    
    <h1>{{ email.subject }}</h1>
    <h3>{{ email.client.email }}</h3>
    {{ email.content|raw }}
    
    </div>
</div>

{% endblock %}