{% extends 'AddictedtovintageBundle::layout.html.twig' %}

{% block sidebar %}
    
{% endblock%}

{% block content %}

    
    <div class="span12">
        <h1>Bestelling geannuleerd!</h1>
        
        <p>Je bestelling is geannuleerd, als dit niet de bedoeling was moet je je bestelling opnieuw plaatsen en betalen!</p>        
        <p>Voor vragen kun je mailen naar <b>info@addictedtovintage.nl</b>
        
    </div>
    
{% endblock %}