


                        <br />

						</font>

						</td>
					</tr>
				</tbody>
		</table>
	</td>
    <td width="10" background="{{ url('_root') }}email/shadow_right.gif" bgcolor="#ffffff"> </td>
        </tr>

        <tr>
            <td height="10" width="10" background="{{ url('_root') }}email/shadow_bl.gif" bgcolor="#ffffff"></td>
            <td height="10" background="{{ url('_root') }}email/shadow_bottom.gif" bgcolor="#ffffff"> </td>
            <td height="10" width="10" background="{{ url('_root') }}email/shadow_br.gif" bgcolor="#ffffff"> </td>
        </tr>
    </tbody>
</table>

</body>
</html>